APP_NAME=SeaBiz
APP_ENV=local
APP_KEY=base64:lkD2j9r+JOhVbSlRhXjH3/+36b2SE9/sJt6YtOJ0OvE=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=seabiz_db
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120

VITE_APP_NAME="${APP_NAME}"
